.vw-80{
    height: 100%;
    width: 80vw;
}
.fx-c-ctr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fx-r-ctr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fx-c-str{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.fx-r-str{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.fx-r{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hw{
    height: 100vh;
    width: 100vw;
}
.wd100{
    width: 100%;
}
.mT{
    margin: 7px auto;
}
.mg-lr{
    margin: 0 80px;
}
.profile_photo1{
    height: 45px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
}
.profile_photo2{
    height: 45px;
    width: 40px;
    border-radius: 50%;
    margin: 22px 22px 22px 12px;
}
.sett-top{
    margin-right: 0;
}
.post_input{
    border: 2px solid red;
    font-size: 20px;
    padding-left: 10px;
}
.icon-more{
    height: 20px;
    width: 22px;
    margin: auto 0 auto 30px;
}
.post_icons{
    height: 22px;
    width: 23px;
    margin: 0 4px;
}
.bichkomunikopost{
    width: 80%;
    height: 90%;
    border: none;
    border-radius: 25px;
    margin: auto 0;
    background-color: rgb(29 155 240);
}
.bichkomunikoicons{
    padding: 0 70px;
    margin: auto 0;
    border-radius: 50%;
}
#xs-logo{
    height: 13px;
    width: 14px;
    margin: 2px 4px;
}
#s-logo{
    height: 20px;
    width: 24px;
    border: none;
    border-radius: 50%;
}